*
!.gitignore
!README.md
!project1/
!project1/launch/
!project1/launch/**
!project1/src/
!project1/src/**
!project1/scripts/
!project1/scripts/**
!lab5/
!lab5/launch/
!lab5/launch/**
!lab5/src/
!lab5/src/**
!lab5/scripts/
!lab5/scripts/**
!lab6/
!lab6/src/
!lab6/src/**
!lab7/
!lab7/scripts/
!lab7/scripts/**
